.WeeklyForecast {
    width: 100%;
}
.TemperatureByDay {
    display: flex;
    justify-content: space-between;
}
.TemperatureByDay .day, .TemperatureByDay .condition-icon, .TemperatureByDay .temperature-high-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 3);
}
.TemperatureByDay .condition-icon img {
    margin: 0 auto;
    width: 40px;
}
.TemperatureByDay .temperature-high-low {
    justify-content: flex-end;
}
.TemperatureByDay .temperature-high-low p {
    padding-left: 15%;
}
