.TodayHighAndLow {
    width: 100%;
    background: lightyellow;
    display: flex;
    justify-content: space-between;
}
.TodayHighAndLow .today {
    width: calc(100% - (100% / 3));
}
.TodayHighAndLow .temperature-high-low {
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
}
.TodayHighAndLow .temperature-high-low p {
    padding-left: 15%;
}
.TodayHighAndLow .low {
    color: gray;
}
