.TodayHighAndLow {
    width: 100%;
    background: lightyellow;
    display: flex;
    justify-content: space-between;
}
.TodayHighAndLow .today {
    display: flex;
    align-items: center;
}
.TodayHighAndLow .temperature-high-low {
    display: flex;
    justify-content: flex-end;
}
.TodayHighAndLow .temperature-high-low {
    font-size: 2em;
}
.TodayHighAndLow .high {
    color: red;
    margin-right: 3%;
}
.TodayHighAndLow .low {
    color: dodgerblue;
    margin-left: 3%;
}
.TodayHighAndLow .slash {
    font-weight: 200;
    color: lightgray;
}

