td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: auto;
}
.city-map{
  height: 175px;
}


/*
  citation: https://codepen.io/nikhil8krishnan/pen/WvYPvv
*/

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height: 75vh;
  overflow-x:auto;
  overflow-y: auto;
  margin-top: 0px;
}
th, td{
  text-align: center;
}
td {
  font-size: 1.10em;
  color: white;
}
th{
  font-size: 1.25em;
}
.city-map{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{

  background: #e53935;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
section{
  margin: 0px 1.5em;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

